"*":
  "activate-power-mode":
    autoToggle: false
  "atom-alignment": {}
  "atom-beautify":
    general:
      _analyticsUserId: "41ff6f49-35aa-468d-98d4-47b5774d7acd"
    html:
      indent_size: 2
  "atom-typescript": {}
  "atom-xsltransform":
    externalXslToolPath: "xsltproc --novalid %XSL %XML"
  "color-picker": {}
  core:
    disabledPackages: [
      "line-ending-selector"
      "platformio-ide-terminal"
      "platformio-ide"
      "linter-flake8"
      "language-python"
      "linter-mypy"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    packagesWithKeymapsDisabled: [
      "script"
      "emmet"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-classic-syntax"
    ]
  editor:
    fontFamily: "Essential PragmataPro"
    fontSize: 17
    invisibles: {}
    showIndentGuide: true
  "ever-notedown": {}
  "exception-reporting":
    userId: "da82e34e-ff7a-e29a-d995-03a3d26e3eb1"
  linter: {}
  "linter-flake8":
    ignoreErrorCodes: [
      "D203"
      "F403"
    ]
  "linter-mypy": {}
  "linter-ui-default": {}
  "markdown-mindmap": {}
  "markdown-preview": {}
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "seti-syntax":
    themeColor: "Green"
  "seti-ui":
    compactView: true
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.litcoffee"
      "text.markdown.evnd.mathjax.source.litcoffee.inline.html"
      "text.markdown.evnd.mathjax.source.gfm.inline.html"
      "text.markdown.evnd.source.gfm.inline.html"
    ]
  "tool-bar":
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
  welcome:
    showOnStartup: false
  "xml-formatter": {}
".coffee.source":
  "atom-beautify":
    _analyticsUserId: "0182df0a-d5f8-49bc-b228-bbab605d1920"
".source.ts":
  editor:
    autoIndent: true
".source.tsx":
  editor:
    autoIndent: false
