"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
  core:
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  "exception-reporting":
    userId: "da82e34e-ff7a-e29a-d995-03a3d26e3eb1"
  welcome:
    showOnStartup: false
  "tree-view": {}
  linter: {}
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
  "atom-alignment": {}
  minimap: {}
  "markdown-preview": {}
  "markdown-mindmap": {}
".coffee.source":
  editor:
    tabLength: 2
  "atom-beautify":
    _analyticsUserId: "0182df0a-d5f8-49bc-b228-bbab605d1920"
